[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mahmoodmd
[access "refs/for/refs/*"]
	read = group user/mahmoodmd
	push = group user/mahmoodmd
	label-Code-Review = -2..+2 group user/mahmoodmd
	label-Verified = -1..+1 group user/mahmoodmd
	rebase = group user/mahmoodmd
	removeReviewer = group user/mahmoodmd
	submit = group user/mahmoodmd
[access "refs/heads/*"]
	read = group user/mahmoodmd
	create = group user/mahmoodmd
	push = +force group user/mahmoodmd
	pushMerge = group user/mahmoodmd
[access "refs/tags/*"]
	push = +force group user/mahmoodmd
	pushTag = group user/mahmoodmd
	pushSignedTag = group user/mahmoodmd
